{% extends 'security/base_auth.html.twig' %}

{% block title %}Connexion - Flex-Roll
{% endblock %}

{% block body %}
	<div class="container-xxl">
		<div class="authentication-wrapper authentication-basic container-p-y">
			<div class="authentication-inner">
				<div class="card">
					<div class="card-body">
						<div class="app-brand justify-content-center mb-4">
							<a href="#" class="app-brand-link gap-2 d-flex align-items-center">
								<img src="{{ asset('assets/img/logo-flexpaie.png') }}" alt="FlexPaie Logo" style="height: 80px; margin-right: 20px;">
								<h1
									class="mb-0">{# <span class="text-center demo text-body fw-bolder">FlexPaie</span> #}
								</h1>
							</a>
						</div>

						<h4 class="mb-2 text-center">Bienvenue sur notre Plate-forme</h4>
						<p class="mb-4 text-center">Connectez-vous à votre compte</p>

						{% if error %}
							<div class="alert alert-danger" role="alert">
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>
						{% endif %}

						<form method="post" action="{{ path('app_login') }}">
							<div class="mb-3">
								<label for="username" class="form-label">Nom d'utilisateur</label>
								<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Ex: john.jk@gmail.com " autofocus required>
							</div>
							<div class="mb-3 form-password-toggle">
								<label class="form-label" for="password">Mot de Pass</label>
								<div class="input-group input-group-merge">
									<input type="password" id="password" class="form-control" name="_password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required>

								</div>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="mb-3">
								<button class="btn btn-primary d-grid w-100" type="submit">
									<i class="bx bx-log-in me-1"></i>
									Se connecter
								</button>
							</div>
						</form>

						<p class="text-center">
							<span>Vous n'avez pas de compte ?</span>
							<a href="{{ path('app_register') }}">
								<span>Inscrivez-vous</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/password-toggle.js') }}"></script>
{% endblock %}
