<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Cher {{ merchant_name }},<br><br>

        Voici le status d'execution de votre liste.
    </div> <br><br>

    <ul style="list-style-type: none; padding: 0;">
        
        <li>
            <b>Nom de la liste</b> : {{ list_name }} 
        </li>
        <li>
            <b>Date de d'execution</b> : {{ execution_date }}
        </li>
        <li>
            <b>Nombre d’éléments</b> : {{ total }}
        </li>
        <li>
            <b>Nombre de bénéficiaires payés</b> : {{ success }}
        </li>
        <li>
            <b>Nombre d'échec</b> : <span style="color: red; font-weight: bold;">{{ failed }}</span>
        </li>
    </ul><br><br>

    <div>
        <b>Rapport d'echec : </b><br><br>

        <table>
            <thead>
                <tr>
                    <th>Bénéficiaire</th>
                    <th>Raison</th>
                </tr>
            </thead>
            <tbody>
                {% for number in numbers %}
                    <tr style="text-align: left;">
                        <td style="padding-right: 20px;">{{ number.phoneNumber }}</td>
                        <td style="text-align: left;">{{ number.reason }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><br>
    <p>Cordialement,</p>
    <p>
        L’équipe FlexRoll
    </p><br>
    <p>
        Remarque : ce message est généré automatiquement, merci de ne pas y répondre.
    </p>
</body>
</html>